.course-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.course{
    width: 300px;
    height: 350px;
    border: 1px solid lightgrey;
    border-radius: 20px;
}