body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

.header {
  width: 100%;
  height: 70px;
  background-color: rgb(37, 38, 39);
  flex-direction: row;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

}

.secondHeader {
  width: 100%;
  height: 20px;
  background-color: rgb(34, 33, 33);
  flex-direction: row;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0 6px;
  color: lightgrey;


}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}